{% extends 'base.html' %}

{% block content %}
<head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/create">Add URL </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Adicionar novo perfil</a>
            </li>
          </ul>
        </div>
      </nav>
    </head>


<div class="container"> 
<form method="post" action="">
    
    <table class="table">
        <th >NOME</th>
		<th>DESCRIÇÃO</th>
        <th></th>
    <tr>
        <td><input type="text" size="60" name="name" class='form-control'></td>
        <td><input type="text" size="60" name="descricao" class='form-control'></td>
        <td>   <span style="font-size:24px;">     <input type="submit" name="submit" value="  Inserir  " class="btn btn-outline-success btn-sm"> 
             </span>     </td>
    </tr>
</form>
{% for row in rasp_name %}
<tr>   
    <form method="post" action="/add_rasp/{{row.id}}">
    <td >
        <input size="60" type="text" id="name" name="name" value="{{row.name}}" class='form-control'>
    </td>
    <td>
        <input type="text" size="60"  id="descricao" name="descricao" value="{{row.descricao}}" class='form-control'>
    </td>
    <input type="hidden" id="id" name="id" value={{row.id}}>
    </span> 
    <td> <span style="font-size:24px;">
        <input type="submit" name="submit" value="Atualizar" class="btn btn-outline-success btn-sm"> 

        <a href="/add_rasp/delete/{{row.id}}" method="POST" class="btn btn-outline-danger btn-sm">Deletar</a>
    </span>   
</td>
</tr>
</form>
{% endfor %}
</table>
</div>

{% endblock %}