<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<style>
    .alert-center {
      text-align: center;
      text-align: justify;
      width: 100%
    }

    .content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }
</style>

<Html style="background:black;">  
  <div class="content">
    <p style=" font-size: 30vw; text-align: center;color:white; vertical-align: middle; line-height: normal;display: inline-block;">{{count}}</p>
  </div>
</Html> 

