{% extends 'base.html' %}




{% block content %}
<head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Add URL </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add_rasp">Adicionar novo perfil</a>
            </li>
          </ul>
        </div>
      </nav>
    </head>


<div class="container"> 
<form method="post" action="">
    <table class="table">
        <th>QUEM PODE VISUALIZAR</th>
        <th>URL</th>
        <th>ORDEM</th>
        <th>TEMPO</th>
        <th></th>
        <th></th>
        <tr>
        <td><select name="rasp_id" id = "rasps" class="form-control">
            <option ></option>
            {% for rl in rasp_name %}
            <option value="{{rl.id}}"> {{rl.name}}</option>
            {% endfor %}
        </select>
    </td>
        <td><input type="text" name="url" size="55" class='form-control'></td>
        <td class="col-md-1"><input type="number" name="ordem" size="5" class='form-control'> </td>
        <td class="col-md-1"><input type="number" name="tempo" size="5" class='form-control'></td>
        <td> 
            <td> <span style="font-size:24px;">
                <input type="submit" name="submit" value="  Inserir  " class="btn btn-outline-success btn-sm"> 
                </span>   
        </td>
    </tr>
</form>

    {% for row in results %}
    <tr>   
        <form method="post" action="/create/{{row[0].id}}">
        <td>         
        <select name="rasp_id" id = "rasp_id" class="form-control">
            <option value="{{row[0].rasp_id}}"> {{row[1].name}}</option>
            {% for rl in rasp_name %}
            <option value="{{rl.id}}"> {{rl.name}}</option>
            {% endfor %}
        </select>
        </td>
        <td>
            <input type="text" id="url" name="url" value={{row[0].url}} size="55" class='form-control'>
        </td>
        <td class="col-md-1">
            <input type="number" id="ordem" name="ordem" value={{row[0].ordem}} size="5" class='form-control'>
        </td>
        <td class="col-md-1">
            <input type="number" id="tempo" name="tempo" value={{row[0].tempo}} class='form-control'>
        </td>
        <input type="hidden" id="id_update" name="id_update" value={{row[0].id}}>

        <td> 
        </span> 
        <td> <span style="font-size:24px;">
            <input type="submit" name="submit" value="Atualizar" class="btn btn-outline-success btn-sm"> 

            <a href="/create/delete/{{row[0].id}}" method="POST" class="btn btn-outline-danger btn-sm">Deletar</a>
        </span>   
    </td>
    </tr>
</form>
    {% endfor %}
</table>
</div>

{% endblock %}