<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

{% extends 'base_bk.html' %}
{% block content %}


<style>
  .alert-center {
    text-align: center;
    vertical-align: middle;}
  </style>

<div class="container"> 
    <table class='table'>
      <th>Número</th>
      <th>Nome da Rotina</th>
      <th>Local</th>
      <th>Início Planejado</th>
      <th>Início Real</th>
      <th>Executante</th>
      <th></th>
      {% for row in df %}
      <tr>   
        <td>
          <a>{{row[0]}} </a>
      </td>
          <td> 
            <a >{{row[1]}}</a>
          </td>
          <td>
              <a>{{row[8]}} </a>
          </td>
          <td>
            <a >{{row[3]}} </a>
        </td>
        <td>
          <a>{{row[4]}} </a>
      </td>
          <td>
        <a>{{row[5]}} </a>
    </td>
  </td>
            {% if row[6] == 80 %}
            <td><a href="/projeto_king_vista_by_id/{{row[7]}}"><i class="material-icons" style="font-size:48px;color:yellow;">circle</i> </a></td>
            {% elif row[6]== 85 %}
            <td><a href="/projeto_king_vista_by_id/{{row[7]}}"><i class="material-icons" style="font-size:48px;color:green;">circle</i> </a></td>
            {% elif row[6]== 10 %}
            <td><a href="/projeto_king_vista_by_id/{{row[7]}}"><i class="material-icons" style="font-size:48px;color:gray;">circle</i> </a></td>
            {% else %}
            <td><a href="/projeto_king_vista_by_id/{{row[7]}}"><i class="material-icons" style="font-size:48px;color:red;">circle</i> </a></td>
            {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
