h1 {
	color: darkblue;
	font-size:60px;
}

body {
	background: #f4f4f4;
}

#demo{
	font-size: 12px;
	color: darkblue;
}

.multiselect {
	width: 200px;
  }
  
  .selectBox {
	position: relative;
  }
  
  .selectBox select {
	width: 100%;
	font-weight: bold;
  }
  
  .overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  }
  
  .multiselect-container>li>a>label {
	padding: 4px 20px 3px 20px;
  }