<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
  <system.webServer>
    <handlers>
        <remove name="FlaskHandler" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Flask\python_app_rasp\flEnv\Scripts\python.exe|C:\Flask\python_app_rasp\flEnv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\Inetpub\wwwroot\python_app_rasp" />
    <add key="WSGI_LOG" value="C:\Inetpub\wwwroot\python_app_rasp\app.log" />
  </appSettings>
</configuration>  



